:host {
  color: var(--text);
}

header {
  display: flex;
  justify-content: space-between;
}

h1,
h2 {
  font-size: 2rem;
  font-weight: bold;
}

button {
  background-color: transparent;
  color: var(--text);
  font-size: 3rem;
  font-weight: bold;
  border: none;
  height: fit-content;
  width: fit-content;
  margin: auto 0;
  padding: 0.5rem;
  line-height: 1;
}
