:host {
  color: var(--text);
}

header {
  display: flex;
  justify-content: space-between;
}

h1,
h2 {
  font-size: 2rem;
  font-weight: bold;
}

button {
  color: var(--text);
  font-size: 3rem;
  font-weight: bold;
  border: 2px solid transparent;
  height: fit-content;
  width: fit-content;
  margin: auto 0;
  padding: 0.5rem;
  line-height: 1;
  transition: border 0.3s;

  &:hover {
    border: 2px solid var(--primary);
  }
}
