.task {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1rem 0.75rem 1rem;
  gap: 1rem;
  background-color: var(--background-light);
  color: var(--text-dark);
  border: none;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 1rem;

  > span {
  }

  & h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.5rem;
  }

  i {
    font-size: 2rem;
  }

  & .task-check-icon {
    display: flex;
    align-items: center;
    & i {
      border-radius: 999px;
      background-color: var(--background-light);
      overflow: hidden;
      color: var(--text-dark) !important;
    }
  }

  & .task-info {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    text-align: center;
    align-items: start;
    flex: 1 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    & > div {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .separator {
      font-size: 0.3rem;
      padding-top: 6px;
    }

    .fa-clock {
      font-size: 1rem;
    }

    .task-completed {
      text-decoration: line-through;
      color: var(--text-secondary);
      font-weight: 400;
    }

    .task-late {
      color: var(--accent);
    }
  }

  & .task-btns {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    button {
      height: 2rem;
      width: 2rem;
      border-radius: 4px;
      padding: 4px;
    }

    & i {
      font-size: 1rem;
    }

    & .task-btn-edit {
      border: none;
      color: var(--text);
      background-color: var(--text-dark);
    }
    & .task-btn-delete {
      background-color: var(--background-light);
      color: var(--text-dark);
      border: 1px solid var(--text-dark);
    }
  }
}
